body {
	background: #eee;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	
	background-image: url('cake.jpg');
    background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

li {
    float: left;
    background-color: #ffffff
}

a {
    display: block;
    color: #000000;
    padding: 8px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

#foot-contain
{
	position: relative;
	min-height: 10vh;
}

#content-wrap{
	padding-bottom: 2.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border: 3px solid #002BFF;
}

p.red {color:#FE0000}

p.blue{color:#002BFF}

p.gray{color:#8F8B9B}